<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>FaceHelper</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <div class="header">
      <h1 class="header center">Upload New Faces</h1>
    </div>
    <div class="row">
      <form action="http://127.0.0.1:5000/faces/import_face" method="post" enctype="multipart/form-data" class="col s12 m6">
        <div class="row">
          <div class="input-field col s12 m6 ">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" id="label" name="label" class="input-field">
            <label for="label">Label</label>
          </div>
        </div>
        
        <div class="file-field input-field s6 m3">
          <div class="btn">
            <span>File</span>
            <input type="file" id="face" name="face" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
          </div>
        </div><br/>

        <div class="input-field">
          <input type="submit" id="submit" value="submit" class="btn">
        </div>
      </form>
    </div>
  
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  </body>
</html>